* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e1e2f;
}

.calculator {
    background: #2d2d44;
    padding: 20px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
}

#display {
    width: 100%;
    height: 60px;
    font-size: 28px;
    text-align: right;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 20px;
    background: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    background: rgba(53, 56, 62, 0.808);
    color: #fff;

}

button:hover {
    background: #666;
}

.operator {
    background: #ff9500;
}

.operator:hover {
    background: #e68900;
}

.equal {
    grid-column: span 2;
    background: #28a745;
}

.equal:hover {
    background: #218838;
}